body, h1, h2, p, ul,li, a{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  color: #222222;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
}

*{
  box-sizing: border-box;
}

/*Menu*/

.menu-bg{
  background-color: #312E29;
}

.menu{
  max-width: 990px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a{
  color: #ffffff;
}
.menu-logo a{ 
  font-size: 2em;
  font-weight: bold;
  margin: 0 10px;
  text-transform: uppercase;
}

.manu-nav ul{
  display: flex;
  flex-wrap: wrap;
}

.manu-nav a{
display: block;
padding: 10px;
font-size: 0.812em;
font-weight: bold;
text-transform: uppercase;
}

.manu-nav a:hover{
  color: #F0C42A;
}

/*Sobre*/

.sobre{
  background-image: linear-gradient(to bottom, rgba(0,0,0, 0.1), #445B69), url('/assets/images/gato-8.jpg');
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;  
  flex-wrap: wrap;
}  

.sobre-info{
  display: flex;
  display: block;
  max-width: 990px; 
  margin: 0 auto;
  flex-wrap: wrap;
}

.sobre-btn{
  font-size: 2em;
  background-color: #363536;
  display: inline-block;
  padding: 8px 35px;
  margin-top: 1.875em;
  border-radius: 30px;
  color: #ffffff;
  font-weight: bold;
}

.sobre-info p{
  color: #ffffff;
  font-size: 5em;
  margin-top: 30px;
  line-height: 80px;
  margin-bottom: 20px;
}

.btn-amarelo{
  font-size: 2em;
  color: #000000;
  margin-top: 40px;
  background-color: #F0C42A;
  padding: 10px 25px;
  border-radius: 30px;
}

/*Informações*/

.info{ 
  height: 500px;  
  margin: 0 auto;
}

.animais-info{
  display: flex; 
  max-width: 1100px;
  justify-content: space-between; 
}

.info-bg{
  width: 350px;
  height: 470px;
  background-color: #F4F4F4; 
  margin: -5%;
  margin-right: 1px;
}

.info-bg h2{ 
  margin-top: 3.25em;
  padding-bottom: 1.875em;
  font-weight: bold;
  padding: 15px;
}

.info-texto{
  padding: 10px 15px;
  padding-bottom: 35px;
}

.info-btn{
  font-size: 1.25em;
  color: #000000;
  background-color: #F0C42A;
  border-radius: 30px;
  padding: 10px 30px;
  margin-left: 15px; 
  font-weight: bold;
}
 